# Análise de Objetos do Espaço
Notebook criado para atividade prática do curso Python e Banco de Dados proposto pela Associação Laboratório Interinstitucional de e-Astronomia (LIneA) realizado em Nov/24. A atividade foi realizada utilizando os dados públicos do levantamento _Dark Energy Survey (DES)_.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

from dblinea import DBBase

%reload_ext autoreload
%autoreload 2

Para acessar o banco de dados é utilizado o DBBase para obter dados do catálogo DES DR2.

In [2]:
db = DBBase()
schema = "des_dr2"  
tablename = "main"

Os dados relevantes para a atividade são de uma região no céu em que a ascensão reta (_right ascension_) está entre 0 e 60 e a declinação (_declination_) está entre -30 e -60. Para observar os dados é realizado uma query do banco de dados com tais condições para apenas os 10 primeiros dados.

In [3]:
query = "SELECT * FROM des_dr2.main WHERE dec > -60 AND dec < -30 AND ra > 0 AND ra < 60 limit 10"
lista = db.fetchall_df(query)
lista

,coadd_object_id,tilename,hpix_32,hpix_64,hpix_1024,hpix_4096,hpix_16384,ra,dec,alphawin_j2000,...,spreaderr_model_g,spreaderr_model_r,spreaderr_model_i,spreaderr_model_z,spreaderr_model_y,wavg_spreaderr_model_g,wavg_spreaderr_model_r,wavg_spreaderr_model_i,wavg_spreaderr_model_z,wavg_spreaderr_model_y
0,1357314653,DES0259-3457,8972,35888,9187376,146998022,2351968366,45.008048,-35.265416,45.008048,...,0.004897,0.006827,0.007463,0.011443,0.017443,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000
1,1357315049,DES0259-3457,8972,35888,9187376,146998022,2351968364,45.012325,-35.269522,45.012325,...,0.004682,0.004034,0.005637,0.010913,0.048678,0.006393,0.005638,-99.000000,-99.000000,-99.000000
2,1357314461,DES0259-3457,8972,35888,9187376,146998028,2351968452,45.007292,-35.263782,45.007292,...,0.003409,0.001535,0.001074,0.001280,0.003900,0.004237,0.001535,0.001054,0.001411,0.004004
3,1357314681,DES0259-3457,8972,35888,9187376,146998022,2351968367,45.010972,-35.265775,45.010972,...,0.041868,0.014015,0.016825,0.018409,0.175723,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000
4,1357313715,DES0259-3457,8972,35888,9187376,146998028,2351968461,45.001144,-35.257021,45.001144,...,0.003144,0.000810,0.000672,0.000910,0.003207,0.003462,0.000811,0.000653,0.000970,0.003321
5,1357313703,DES0259-3457,8972,35888,9187376,146998028,2351968461,45.002428,-35.256902,45.002428,...,0.002800,0.000964,0.001139,0.001768,0.005230,0.002726,0.000944,0.001124,0.001800,0.005643
6,1357313930,DES0259-3457,8972,35888,9187376,146998028,2351968455,45.004484,-35.258755,45.004484,...,0.007332,0.007853,0.008391,0.015730,11.085077,0.009677,0.008960,-99.000000,-99.000000,-99.000000
7,1357313496,DES0259-3457,8972,35888,9187376,146998028,2351968461,45.002897,-35.254532,45.002897,...,0.008492,0.007962,0.007584,0.009633,0.015218,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000
8,1357313226,DES0259-3457,8972,35888,9187376,146998028,2351968463,45.001252,-35.251802,45.001252,...,0.010559,0.005234,0.002973,0.002648,0.009702,-99.000000,-99.000000,0.003004,0.002975,-99.000000
9,1357313389,DES0259-3457,8972,35888,9187376,146998029,2351968472,45.003221,-35.253434,45.003221,...,0.001969,0.001073,0.001610,0.002221,0.007113,0.002046,0.001039,0.001587,0.002372,0.009565

Para o estudo, foi escolhido a Galáxia anã de Fornax, com RA = 39.997083° e Dec = -34.449166°. Portanto, é feito a seleção de uma **região retangular** de uma região a 0.5º do objeto escolhido. Já nesse query é selecionado apenas as colunas de interesse, estrelas e amostras com fotometria de boa qualidade.

In [4]:
query_2 = "SELECT coadd_object_id, ra ,dec, mag_auto_g_dered, mag_auto_r_dered, mag_auto_i_dered FROM des_dr2.main WHERE q3c_poly_query(ra, dec, ARRAY[40.5, -34.9, 39.5, -34.9, 39.5, -33.9, 40.5, -33.9]) AND extended_class_coadd < 2 AND flags_g < 4"
query_2

'SELECT coadd_object_id, ra ,dec, mag_auto_g_dered, mag_auto_r_dered, mag_auto_i_dered FROM des_dr2.main WHERE q3c_poly_query(ra, dec, ARRAY[40.5, -34.9, 39.5, -34.9, 39.5, -33.9, 40.5, -33.9]) AND extended_class_coadd < 2 AND flags_g < 4'

In [5]:
regiao_retangular = db.fetchall_df(query_2)

In [6]:
regiao_retangular

,coadd_object_id,ra,dec,mag_auto_g_dered,mag_auto_r_dered,mag_auto_i_dered
0,1319819007,39.668020,-34.900571,23.334784,23.105326,23.337204
1,1319818698,39.669994,-34.899249,23.873701,23.734013,23.921062
2,1319818600,39.672696,-34.898903,23.032934,22.411650,22.383362
3,1319818187,39.673526,-34.897240,24.445993,24.012960,23.982794
4,1319818364,39.674718,-34.897963,24.604071,23.922316,24.223639
...,...,...,...,...,...,...
201966,1319353623,39.794086,-33.901659,25.204430,24.965130,24.908545
201967,1319353942,39.766953,-33.904339,24.579145,24.088341,24.058903
201968,1328863760,39.807891,-33.906834,25.186808,24.970255,25.103437
201969,1319353788,39.797278,-33.903014,26.203131,25.375605,25.018375
201970,1328863276,39.816518,-33.903663,25.559797,25.295050,25.097002

É feito a mesma análise para uma **região circular** com raio 0.5º.

In [7]:
query_3 = "SELECT coadd_object_id, ra ,dec, mag_auto_g_dered, mag_auto_r_dered, mag_auto_i_dered FROM des_dr2.main WHERE q3c_radial_query(ra, dec, 40.0, -34.4, 0.5) AND extended_class_coadd < 2 AND flags_g < 4"
query_3

'SELECT coadd_object_id, ra ,dec, mag_auto_g_dered, mag_auto_r_dered, mag_auto_i_dered FROM des_dr2.main WHERE q3c_radial_query(ra, dec, 40.0, -34.4, 0.5) AND extended_class_coadd < 2 AND flags_g < 4'

In [8]:
regiao_circular =  db.fetchall_df(query_3)
regiao_circular

,coadd_object_id,ra,dec,mag_auto_g_dered,mag_auto_r_dered,mag_auto_i_dered
0,1319814879,39.859960,-34.884076,26.690311,25.778816,25.249878
1,1319814682,39.857821,-34.883399,23.117847,22.680302,22.600182
2,1319814599,39.858377,-34.882974,23.600460,23.274412,23.380205
3,1319816481,39.882513,-34.890323,24.395483,23.843246,23.718079
4,1319816312,39.883388,-34.889597,23.985781,23.510323,23.364555
...,...,...,...,...,...,...
198147,1328867499,40.199231,-33.931236,25.329304,24.879461,24.854841
198148,1328867329,40.200943,-33.930440,26.002478,25.234545,25.085846
198149,1328866584,40.192741,-33.926226,22.111874,20.779501,20.052668
198150,1328866729,40.190503,-33.926666,26.153240,25.425142,25.725662
198151,1328865350,40.157462,-33.918212,24.854286,24.655775,24.258875

Salvamos os dados em arquivos csv.

In [9]:
regiao_retangular.to_csv('regiao_retangular.csv', index=False)

In [10]:
regiao_circular.to_csv('regiao_circular.csv', index=False)